<div class="top-section">
  <app-top-widgets [data]="allData"></app-top-widgets>
</div>
<div class="middle-section">
  <div class="widget left">
    <app-component-one [data]="allData"></app-component-one>
  </div>
  <div class="widget right">
    <app-component-two [data]="allData"></app-component-two>
  </div>
</div>
<div class="bottom-section">
  <div class="widget left">
    <app-component-three [data]="allData"></app-component-three>
  </div>
  <div class="widget right">
    <app-component-four [data]="allData"></app-component-four>
  </div>
</div>
<div class="lower-section">
  <div class="widget">
    <app-component-five></app-component-five>
  </div>
</div>
